# Default .gitignore for Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock

# Vim
*.swp

# OS X
.DS_Store

# inspec
/*.yml
!.travis.yml
!tests.yml.example
profiles/*.yml
profiles/*/vendor
profiles/*/inspec.lock

# user specific data
environments/

# direnv
/.envrc
